<p id="notice"><%= notice %></p>

<h1>Gbp Usds</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Spot exchange rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gbp_usds.each do |gbp_usd| %>
      <tr>
        <td><%= gbp_usd.date %></td>
        <td><%= gbp_usd.spot_exchange_rate %></td>
        <td><%= link_to 'Show', gbp_usd %></td>
        <td><%= link_to 'Edit', edit_gbp_usd_path(gbp_usd) %></td>
        <td><%= link_to 'Destroy', gbp_usd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gbp Usd', new_gbp_usd_path %>

  <div id="container" style="height: 400px; min-width: 310px"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js">
   
$.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/usdeur.json', function (data) {

    // Create the chart
    Highcharts.stockChart('container', {


        rangeSelector: {
            selected: 0
        },

        title: {
            text: 'USD to EUR exchange rate'
        },

        tooltip: {
            style: {
                width: '200px'
            },
            valueDecimals: 4,
            shared: true
        },

        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },

        series: [{
            name: 'USD to EUR',
            data: data,
            id: 'dataseries'

        // the event marker flags
        }, {
            type: 'flags',
            data: [{
                x: Date.UTC(2017, 11, 1),
                title: 'A',
                text: 'Some event with a description'
            }, {
                x: Date.UTC(2017, 11, 12),
                title: 'B',
                text: 'Some event with a description'
            }, {
                x: Date.UTC(2017, 11, 22),
                title: 'C',
                text: 'Some event with a description'
            }],
            onSeries: 'dataseries',
            shape: 'circlepin',
            width: 16
        }]
    });